@{
  Layout = "Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-sm-6">
    <h1 class="text-center">Venues</h1>
    <hr>
    <form action="/venues/new" method="get">
      <button  class="btn btn-info" type="submit" name="button">Add venue</button>
    </form>
    @if(@Model.ContainsKey("allVenues"))
    {
      @foreach(var venue in @Model["allVenues"])
      {
        <h4><a href="/venues/@venue.Id">@venue.Name</a></h4>
      }
    }
  </div>
  <div class="col-sm-6">
    <h1 class="text-center">Bands</h1>
    <hr>
    <form action="/bands/new" method="get">
      <button  class="btn btn-info" type="submit" name="button">Add band</button>
    </form>
    @if(@Model.ContainsKey("allBands"))
    {
      @foreach(var band in @Model["allBands"])
      {
        <h3><a href="/band/@band.Id">@band.Name</a></h3>
      }
    }
  </div>
</div>
@if(@Model.ContainsKey("venue"))
{
  <div class="row">
    <h2>@Model["venue"].Name</h2>
    <form action='/venues/@Model["venue"].Id/update' method="get">
      <button  class="btn btn-warning" type="submit" name="button">Edit venue</button>
    </form>
    <hr>
    <h3>Brief Description</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <h3>Bands which belongs</h3>
    @foreach(var band in @Model["venues-bands"])
    {
      <h4><a href='/venues/@Model["venue"].Id/bands/@band.Id/events'>@band.Name</a></h4>
      @if(@Model.ContainsKey("events"))
      {
        <h3>Events with this band by date:</h3>
        @foreach(var item in @Model["events"])
        {
          <h4>@item.ToString("d")</h4>
        }
      }
    }
  </div>
}
