@{
  Layout = "Shared/_Layout.cshtml";
}
<a href="/">Home page</a>
@if(@Model["show"] == "update-form")
{
  <div class="row">
    <h2>Edit Venue @Model["venue"].Name</h2>
    <form action='/venues/@Model["venue"].Id/update' method="post">
      <input type="hidden" name="_method" value="PATCH">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value='@Model["venue"].Name' required>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Delete Band</h3>
            @foreach(var band in @Model["bands"])
            {
              <h4><input type="checkbox" name="band" value="@band.Id">@band.Name</h4>
            }
        </div>
        <div class="col-md-6">
          <h3>Add Band</h3>
            @foreach(var band in @Model["bands"])
            {
              <h4><input type="checkbox" name="band" value="@band.Id">@band.Name</h4>
            }
        </div>
      </div>
      <button class="btn btn-warning" type="submit" name="button">Update</button>
    </form>
  </div>
}
  <div class="row">
    @if(@Model["show"] == "update-info")
    {
      <h3>Profile venue @Model["venue"].Name was updated successfully</h3>
      @foreach(var band in @Model["bands"])
      {
        <h4>Band: @band.Name</h4>
      }
    }
  </div>
